@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body{
    background-image: url(../images/background1.png);
}

.question{
    font-size: 12px;
}

.ss-choices{
    font-size: 12px;
    list-style-type: none;
}

.aria-todo{
    margin-bottom: -5px;
    line-height: 1px;
}

.right{
    float: right;
    margin-left: 10px;
    margin-top:40px;
}

.submitBtn{
    margin: -30px 0px 0px 0px;
}

.contain{
    width:960px;
    margin:auto;
}

#bgImg{
    width: 320px;
    margin: auto;
    margin-top: 7px;
}

.poll{
    margin: auto;
    width: 300px;
    padding-top: 20px;
}

.level{
    margin: 20px 0px 0px 670px;
    position: absolute;
    z-index: 100;
}

#bubbles{
    margin-top:-670px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

.year{
    text-align: center;
}

#stats{
    margin: -530px 0px 0px 0px;
}

.all{
    text-align: center;
    font-size: 25px;
    margin-bottom: -6px;
}

.top{
    margin: 20px 0px 0px 0px;
}

/*.bgImg{
    width:320px;
    margin:auto;
}*/

.white{
    background-color: #ffffff;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  display: table;
border-spacing: 2px;
border-color: gray;
}

.headerText{
    background-color: #f5f5f5;
}

.inline{
    display: inline;
    font-size: 15px;
    padding-right: 3px;
}

.inlineT{
    display: inline;;
}

.votes{
    font-size: 28px;
    font-weight: 600;
}

.five{
    margin-top:-5px;
}

.bump{
    line-height: 3;
}

.stressed{
    font-size: 50px;
    margin-left: 55px;
    color: #ffffff;
}